* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Tomorrow', sans-serif;
  font-weight: semi-bold;
  /* overflow-x: hidden; Prevent horizontal scrolling */
}

Rajdhani Lucida Console Segoe UI PT Sans .home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;

}

.services {
  background-image: ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: ;
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}